<div class="main-w3layouts wrapper">
  <h1>Sign up Form</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="name"  placeholder="Enter your Name"/>
          <label *ngIf="errors?.name" class="text-danger" >{{ errors?.name }}</label>
        </div>
        <div class="form-group">
          <input type="text" formControlName="email"  placeholder="Enter your Email"/>
          <label *ngIf="errors?.email" class="text-danger" >{{ errors?.email }}</label>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password"  placeholder="Enter your Password"/>
          <label *ngIf="errors?.password" class="text-danger" >{{ errors?.password }}</label>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password_confirmation"  placeholder="Confirm your Password"/>
          <label *ngIf="errors?.password_confirmation" class="text-danger" >{{ errors?.password_confirmation }}</label>
        </div>
        <input type="submit" value="SIGNUP">
      </form>
    </div>
  </div>
  <!-- copyright -->
  <div class="colorlibcopy-agile">
    <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
  </div>
  <!-- //copyright -->
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
